:root{
    --bg-color: #ffffff;
    --text-color: #111111;
    --main-color: rgb(95, 144, 200);
    --subtext-color:  rgb(7, 77, 156);
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cecece;
    padding: 20px 14%;
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36, 0.2);
    padding: 18px 14%;
    transition: all .35s ease;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--text-color);
}

.navlist{
    display: flex;
    list-style: none;
}

.navlist a{
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 25px;
    font-size: var(--normal-font);
    transition: all .36s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.header-icons i{
    font-size: 32px;
    color: var(--text-color);
    margin-right: 20px;
    transition: all .36s ease;
    cursor: pointer;
}

.header-icons i:hover{
    color: var(--main-color);
}

.cart-icon{
    font-size: 32px;
    cursor: pointer;
}

.cart-icon:hover{
    color: var(--main-color);
}

section{
    padding: 100px 14%;
}

.index{
    min-height: 100vh;
    width: 100%;
    background: url(../Vallespin/pics/background.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.index-text h1{
    font-size: var(--big-font);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;
}

.index-text span{
    font-size: var(--h2-font);
}

.btn{
    display: inline-block;
    padding: 13px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .35s ease;
}

.btn:hover{
    transform: translateY(-5px);
    background: var(--text-color);
}

.services{
    background: url(../Vallespin/pics/nike.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center top;
}

.service-title{
    background-color: #cecece;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 5px;
}

.service-description{
    font-size: var(--normal-font);
    color: var(--text-color);
    font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--text-color);
    color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prod-title{
    font-size: var(--h3-font);
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-title{
    font-size: var(--h3-font);
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.products-section{
    background: url(../Vallespin/pics/nike.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center top;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.3rem;
    margin-top: 4rem;
}

.shop-item{
    position: relative;
    background: var(--bg-color);
    height: 300px;
}

.shop-item:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 1px;
    background: var(--bg-color);
}

.product-title{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 500;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.cart-quantity {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    height: 30px;
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 10px;
    transition: all .35s ease;
    cursor: pointer;
}

.add-cart:hover{
    transform: translateY(-1px);
    background: var(--text-color);
}

.img-bg{
    background-color: var(--bg-color);
}

.contact-main{
    margin-top: 5%; 
}

.contact-title{
    font-size: var(--h3-font);
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-description{
    font-size: var(--normal-font);
    color: var(--text-color);
    font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--text-color);
    color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-right: 700px;
    margin-bottom: 1px;
    font-weight: bold;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    width: 60%;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--main-color);
}

.company-history{
    font-size: var(--normal-font);
    color: var(--text-color);
    font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--text-color);
    color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main{
    flex-grow: 1;
    background: url(../Vallespin/pics/nike.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center top;
} 

.about-main{
    margin-top: 5%; 
}

.about-title{
    font-size: var(--h3-font);
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-description{
    font-size: var(--normal-font);
    color: var(--text-color);
    font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--text-color);
    color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-you{
    font-size: var(--normal-font);
    color: var(--text-color);
    font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--text-color);
    color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table img {
    max-width: 250px;
    height: auto;
    padding-right: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
    width: 100%;

}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #bbb;
}

.footer-icons i{
    font-size: 32px;
    color: #cecece;
    transition: all .36s ease;
    cursor: pointer;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}

.cart-content {
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.cart-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 2px;
}

.cart-price{
    font-weight: 500;
    padding-bottom: 2px;
}

.remove-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.35s ease;
}

.remove-btn:hover {
    background-color: #c0392b;
    transform: translateY(-3px);
}

.total {
    text-align: right;
    padding-left: 850px;
}

.total-title{ 
    font-size: 18px;
    font-weight: 600;
    background: #ccc;
}

.total-price {
    font-size: 18px;
    margin-left: 0.5rem;
    background: #ccc;
}


.checkout-btn {
    background-color: #27ae60;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.35s ease;
}

.checkout-btn:hover {
    background-color: #219150;
    transform: translateY(-3px);
}